.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    background: #f0f2f5;
    background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.content{
    flex: 1 1;
    padding: 112px 0 24px;
}
.top{
    text-align: center;
}
.head{
    height: 55px;
    line-height: 1.1;
    font-size: 33px;
    font-weight: 600;
}
.head svg{
    max-width: 200px;
    fill: #715c57;
}
.desc{
    font-size: 14px;
    color: rgba(0, 0, 0, .45);
    margin-top: 12px;
    margin-bottom: 40px;
}
.main{
    width: 360px;
    margin: 0 auto;
}
.main :global(.ant-tabs-nav-wrap){
    text-align: center;
}
.main :global(.ant-tabs-tab){
    font-size: 16px;
    line-height: 26px;
}
.getCaptcha{
    display: block;
    width: 100%;
}
.registerLink{
    float: right;
}
.alerterror{
    margin-bottom: 24px;
}
:global(.ant-form-explain){
    clear: both;
}
.globalFooter{
    text-align: center;
    margin: 48px 0 24px;
    padding: 0 16px;
}
.link{
    margin-bottom: 8px;
}
.link span{
    color: rgba(0, 0, 0, .45);
}
.link span:not(:last-child){
    margin-right: 40px;
}
.copyright{
    font-size: 14px;
    color: rgba(0, 0, 0, .45);
}
.copyright :global(.anticon-copyright){
    margin: 0 4px;
}
:global(.login-form) {
  max-width: 100%;
}
:global(.login-form-forgot) {
  float: right;
}
:global(.login-form-button) {
  width: 100%;
  margin: 24px 0;
}
